data/train/*
data/test/*

# Parquet
*.parquet

# CatBoost training artifacts
catboost_info/

# Model weights
*.cbm
output/model.cbm
output/model_xgb.json
output/model_lgb.txt
output/model_pytorch.pt

# CSV
*.csv

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo
