data/train/*
!data/train/*.md
data/test/*
!data/test/*.md

*.parquet

catboost_info/
*.tfevents
*.tmp

*.cbm
*.joblib
*.pt
*.pth

output/weights/**

tmp

saves

output/xgb_extmem_train_single/
output/xgb_extmem_val_single/

output/models/**/*
output/cache/**/*
output/model_xgb.json
output/model_xgb_tr_amount_le_30.json
output/model_xgb_tr_amount_gt_30.json
output/model_xgb_tr_amount_le_110.json
output/model_xgb_tr_amount_gt_110.json

output/*_tsv_cache/

output/model_lgb.txt
output/xgb_grid_extmem_train/
output/xgb_grid_extmem_val/
output/xgb_extmem_train_tr_amount_le_30/
output/xgb_extmem_val_tr_amount_le_30/
output/xgb_extmem_train_tr_amount_gt_30/
output/xgb_extmem_val_tr_amount_gt_30/

*.csv
!output/research/**/*.csv

training/grid_search/model_xgb_best.json
training/grid_search/xgb_best_params_save.json
training/grid_search/xgb_grid_trials.jsonl
output/research/xgb_forward_selection_history.jsonl

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg-info/
.eggs/
/dist/
build/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/



